@tailwind base;
@tailwind components;
@tailwind utilities;

.orderedListstyle {
  list-style: auto;
}

@media print {
  .print-hidden {
    display: none;
  }

  .samePage {
    page-break-inside: avoid;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(35, 32, 68, 0.6);
    box-shadow: 0 0 0 0 rgba(35, 32, 68, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(35, 32, 68, 0);
    box-shadow: 0 0 0 15px rgba(35, 32, 68, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(35, 32, 68, 0);
    box-shadow: 0 0 0 0 rgba(35, 32, 68, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Marquee Animation */
@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes customScroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (max-width: 337px) {
  .custom-margin {
    margin-top: 30px;
  }
}

.custom-marquee {
  height: 100%; /* Set the height of the visible area */
  overflow: hidden;
  position: relative;
}

.custom-marquee ul {
  animation: customScroll 30s linear infinite; /* Adjust the duration to control speed */
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.custom-marquee ul:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

.marquee {
  white-space: nowrap; /* Prevents line break */
  display: inline-block; /* Ensures the content flows properly */
  animation: move 15s linear infinite; /* Adjust the duration as needed */
}

.stop-animation {
  animation: none; /* Stops the animation on hover */
}

/* Additional styles */
.overflow-hidden {
  overflow: hidden; /* Ensures the marquee is hidden outside the box */
}

/* Add this in your globals.css file */
::-webkit-scrollbar {
  width: 7px; /* Change this value to make it thinner */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    31,
    41,
    55,
    0.5
  ); /* Customize the scrollbar thumb color */
  border-radius: 6px; /* Rounded edges */
}

::-webkit-scrollbar-track {
  background-color: rgba(209, 209, 209, 0.373);
  border-radius: 6px;
  border: 1px solid rgba(169, 165, 165, 0.71);
}

#MainSlider .swiper {
  width: 100%;
  height: 100%;
}

#MainSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  padding-bottom: 40px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#MainSlider .swiper-button-prev:after,
#MainSlider .swiper-button-next:after {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 3px 5px;
  font-weight: bolder;
  opacity: 50%;
}

#MainSlider .swiper-pagination-bullet {
  background: #ffffff;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(0, 0, 0);
  opacity: 100%;
}

#MainSlider .swiper-pagination-bullet-active {
  background: rgb(21 128 61);
  width: 12px;
  height: 12px;
  border: 2px solid black;
}

#resultbutton .swiper-button-prev,
#resultbutton .swiper-button-next {
  color: rgb(55, 159, 55);
  width: 40px; /* Set a specific width */
  height: 40px; /* Set the same height for a round shape */
  display: flex; /* Center contents */
  align-items: center; /* Center contents vertically */
  justify-content: center; /* Center contents horizontally */
  border-radius: 50%;
}

#resultbutton .swiper-button-prev:hover,
#resultbutton .swiper-button-next:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(55, 159, 55);
  background: rgb(55, 159, 55);
}

#resultbutton .swiper-button-prev:after,
#resultbutton .swiper-button-next:after {
  font-size: 20px;
  font-weight: bolder;
}

#swiperpublication .swiper-button-prev,
#swiperpublication .swiper-button-next {
  color: rgb(55, 159, 55);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#swiperpublication .swiper-button-prev:hover,
#swiperpublication .swiper-button-next:hover {
  color: rgb(249, 249, 249);
  background: rgb(55, 159, 55);
}

#swiperpublication .swiper-button-prev:after,
#swiperpublication .swiper-button-next:after {
  font-size: 20px;
  font-weight: bolder;
}

#swiperTestimonial .swiper-button-prev,
#swiperTestimonial .swiper-button-next {
  color: rgb(55, 159, 55);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#swiperTestimonial .swiper-button-prev:hover,
#swiperTestimonial .swiper-button-next:hover {
  color: rgb(249, 249, 249);
  background: rgb(55, 159, 55);
}

#swiperTestimonial .swiper-button-prev:after,
#swiperTestimonial .swiper-button-next:after {
  font-size: 20px;
  font-weight: bolder;
}

.custom-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.react-datepicker-wrapper {
  width: 100%;
}

#allBlogs .swiper {
  width: 100%;
  height: 100%;
}

#allBlogs .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#allBlogs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#allBlogs .swiper-button-prev:after,
#allBlogs .swiper-button-next:after {
  background-color: #071e63;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#fee-structure .accordion-tab button {
  padding: 4px 16px 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #dff0d8;
}

#fee-structure .accordion-tab button span {
  color: #457c45;
  font-size: 16px;
}
#fee-structure .accordion-tab button span:hover {
  text-decoration: underline;
}
#fee-structure svg {
  display: none;
}
/* #faq .accordion-tab h2 {
  padding: 4px 16px 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #dff0d8;
} */
#faq .accordion-tab button {
  padding: 4px 16px 6px;
  background-color: #dff0d8;
}

#faq .accordion-tab button span {
  color: #457c45;
  font-size: 16px;
}
#faq .accordion-tab button span:hover {
  text-decoration: underline;
}
#faq svg {
  display: none;
}

@media screen and (max-width: 640px) {
  #fee-structure .accordion-tab button {
    padding: 4px 10px 6px;
  }
  #fee-structure .accordion-tab button span {
    font-size: 14px;
  }

  #faq .accordion-tab button {
    padding: 4px 10px 6px;
  }
  #faq .accordion-tab button span {
    font-size: 14px;
  }
}

#fee-structure .study-table table tbody tr:nth-child(even) {
  background-color: #d7f9d3;
}

#new-batches .accordion-tab button {
  padding: 4px 16px 6px;
}

#new-batches .accordion-tab button span {
  color: #16a34a;
  font-size: 16px;
}

.parent-div::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px; /* Thickness of the border */
  background-color: lightgray;
  z-index: 1; /* Lower z-index than the buttons */
}

.active-button {
  z-index: 10; /* Ensure active button is on top */
  background-color: white; /* Optional: Ensure button background covers the border */
}

.bg-emerald-50 {
  background-color: #ebf6f4;
}

#faqaccordion .text-large {
  font-size: 13px;
}

#faqaccordion .py-4 {
  padding: 0;
  padding-left: 1rem;
}

#faqaccordion .text-foreground {
  color: #388e3c;
}

#faqaccordion .bg-divider {
  opacity: 0%;
}

#faqaccordion .py-2 {
  padding-left: 1rem;
}

/* #faqaccordion .img, svg, video, canvas, audio, iframe, embed, object {
display: none;
} */

@media (min-width: 425px) {
  .swiper-slide a img {
    height: 192px;
    object-fit: cover;
  }
}

.book-table table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}
.book-table table tr:nth-child(even) {
  background-color: #d7f9d3;
}
.dotLeft h3::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 100%;
}
.study-card {
  margin-top: 30px;
  height: auto;
  box-shadow: 0px 8px 9px 0px #e8e8e8;
  background: linear-gradient(to bottom, #e7fafe, #fff);
}
.inner-html-box ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  list-style-type: disc;
}
.inner-html-box h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.inner-html-box h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.inner-html-box h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.inner-html-box h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.inner-html-box h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.inner-html-box h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
