@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}


.topNavLink{
  position: relative;
}

.topNavLink::after{
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: white;
  top: 100%;
  left: 0;
  transition: 0.3s;
}

.topNavLink:hover::after{
  width: 100%;

}

.footer-link{
  position: relative;
}

.footer-link::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  background: grey;
  top: 90%;
  left: 0;
  transition: 0.3s;
}

.footer-link:hover::after{
  width: 100%;
}



#register .otpCard input {
  text-align: center;
}
#loginOtp .otpCard input {
  text-align: center;
}
#loginForgetPwd .otpCard input {
  text-align: center;
}

.buy-dialog {
  max-height: 500px; /* You can adjust this value */
  overflow-y: auto;
}
.react-datepicker-wrapper {
  width: 100%;
}


#allBlogs .swiper {
  width: 100%;
  height: 100%;
}

#allBlogs .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#allBlogs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#allBlogs  .swiper-button-prev:after, #allBlogs .swiper-button-next:after {
 background-color: #071e63;
 color: white;
font-size: 20px;
padding: 10px;
}