@tailwind base;
@tailwind components;
@tailwind utilities;

.orderedListstyle {
  list-style: auto;
}
@media print {
  .print-hidden {
    display: none;
  }
 
  .samePage {
    page-break-inside: avoid;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(35, 32, 68, 0.6);
    box-shadow: 0 0 0 0 rgba(35, 32, 68, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(35, 32, 68, 0);
    box-shadow: 0 0 0 15px rgba(35, 32, 68, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(35, 32, 68, 0);
    box-shadow: 0 0 0 0 rgba(35, 32, 68, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
